.u-section-1 .u-sheet-1 {
  min-height: 2316px;
}

.u-section-1 .u-text-1 {
  width: 534px;
  margin: 5px auto 0;
}

.u-section-1 .u-image-1 {
  width: 219px;
  height: 291px;
  object-position: 50% 3.62%;
  margin: 20px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 0.75rem;
  width: 534px;
  margin: 6px auto 0;
}

.u-section-1 .u-text-3 {
  width: 534px;
  font-size: 2.25rem;
  margin: 13px auto 0;
}

.u-section-1 .u-list-1 {
  width: 534px;
  margin: 31px auto 0;
}

.u-section-1 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 360px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 6px;
}

.u-section-1 .u-image-2 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-5 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 0 0 0 113px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 6px;
}

.u-section-1 .u-image-3 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-7 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 0 0 0 113px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 6px;
}

.u-section-1 .u-image-4 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-9 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 0 0 0 113px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 6px;
}

.u-section-1 .u-image-5 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-11 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 0 0 0 113px;
}

.u-section-1 .u-text-12 {
  font-size: 2.25rem;
  width: 534px;
  margin: 0 auto;
}

.u-section-1 .u-list-2 {
  width: 534px;
  margin: 13px auto 0;
}

.u-section-1 .u-repeater-2 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 881px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-6 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-14 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-7 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-16 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-8 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-18 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-9 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-20 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-10 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-22 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-11 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-24 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-12 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-26 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 0.75rem;
  padding: 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-13 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-28 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 0.75rem;
  padding: 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-14 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-29 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-30 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-15 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-32 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-list-3 {
  width: 534px;
  margin: 0 auto 5px;
}

.u-section-1 .u-repeater-3 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 382px;
  grid-gap: 0px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-16 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-33 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-34 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-17 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-36 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-18 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-37 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-38 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 0 9px;
}

.u-section-1 .u-image-19 {
  width: 93px;
  height: 89px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-39 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: -76px 25px 0 114px;
}

.u-section-1 .u-text-40 {
  line-height: 1;
  font-size: 0.75rem;
  margin: 16px 0 0 114px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-3 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2260px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    width: 65px;
    height: 66px;
    margin-top: 8px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -68px;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 6px;
    margin-right: 16px;
    margin-left: 70px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    width: 65px;
    height: 66px;
    margin-top: 8px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -68px;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 6px;
    margin-right: 16px;
    margin-left: 70px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    width: 65px;
    height: 66px;
    margin-top: 8px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: -68px;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 6px;
    margin-right: 16px;
    margin-left: 70px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-5 {
    width: 65px;
    height: 66px;
    margin-top: 8px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: -68px;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 6px;
    margin-right: 16px;
    margin-left: 70px;
  }

  .u-section-1 .u-text-12 {
    width: 340px;
  }

  .u-section-1 .u-list-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: repeat(1, 100%);
    min-height: 872px;
  }

  .u-section-1 .u-image-6 {
    width: 65px;
    height: 60px;
    margin-top: 13px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-7 {
    width: 65px;
    height: 60px;
    margin-top: 13px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-8 {
    width: 65px;
    height: 60px;
    margin-top: 13px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-9 {
    width: 65px;
    height: 60px;
    margin-top: 13px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-10 {
    width: 65px;
    height: 60px;
    margin-top: 13px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-11 {
    width: 65px;
    height: 60px;
    margin-top: 13px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-12 {
    width: 65px;
    height: 60px;
    margin-top: 13px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-1 .u-text-26 {
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-13 {
    width: 65px;
    height: 60px;
    margin-top: 13px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-14 {
    width: 65px;
    height: 60px;
    margin-top: 13px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    margin-left: 73px;
  }

  .u-section-1 .u-image-15 {
    width: 65px;
    height: 60px;
    margin-top: 13px;
    margin-right: 275px;
  }

  .u-section-1 .u-text-31 {
    width: auto;
    margin-top: -60px;
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-top: 0;
    margin-right: 3px;
    margin-left: 73px;
  }

  .u-section-1 .u-list-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-3 {
    min-height: 392px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-16 {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-right: 270px;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-top: -74px;
    margin-right: 0;
    margin-left: 75px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: 8px;
    margin-left: 75px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-17 {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-right: 270px;
  }

  .u-section-1 .u-text-35 {
    width: auto;
    margin-top: -74px;
    margin-right: 0;
    margin-left: 75px;
  }

  .u-section-1 .u-text-36 {
    width: auto;
    margin-top: 8px;
    margin-left: 75px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-18 {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-right: 270px;
  }

  .u-section-1 .u-text-37 {
    width: auto;
    margin-top: -74px;
    margin-right: 0;
    margin-left: 75px;
  }

  .u-section-1 .u-text-38 {
    width: auto;
    margin-top: 8px;
    margin-left: 75px;
  }

  .u-section-1 .u-container-layout-18 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-19 {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-right: 270px;
  }

  .u-section-1 .u-text-39 {
    width: auto;
    margin-top: -74px;
    margin-right: 0;
    margin-left: 75px;
  }

  .u-section-1 .u-text-40 {
    width: auto;
    margin-top: 8px;
    margin-left: 75px;
  }
}