.u-section-1 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-1 .u-image-1 {
  width: 533px;
  height: 383px;
  object-position: 50% 0%;
  margin: 10px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  width: 534px;
  margin: 34px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-2 {
  width: 534px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  width: 534px;
  font-weight: 700;
  margin: 4px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 324px;
  margin: 4px auto 0 204px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 116px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 1px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 46px;
  min-height: 16px;
  width: 310px;
  min-width: 160px;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 48px;
}

.u-section-1 .u-icon-2 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-icon-3 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-icon-4 {
  height: 0;
}

.u-section-1 .u-icon-5 {
  height: 0;
}

.u-section-1 .u-custom-html-1 {
  margin: -58px 0 0;
}

.u-section-1 .u-image-2 {
  width: 164px;
  height: 164px;
  margin: -84px 204px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 2px 237px 10px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 843px;
  }

  .u-section-1 .u-image-1 {
    object-position: 50% 14.51%;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-left: 106px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-top: -82px;
    margin-right: 94px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 0;
    margin-right: 124px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 851px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 9px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-left: 105px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 87px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -48px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-top: -89px;
    margin-right: 93px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 118px;
    margin-bottom: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-image-1 {
    margin-top: 51px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 379px;
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 75px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 16px;
    padding-bottom: 13px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -45px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    margin-top: -74px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 34px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 244px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 210px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 79px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-social-icons-1 {
    height: 25px;
    width: 203px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: -46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-2 {
    width: 130px;
    height: 130px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 19px;
    margin-bottom: 6px;
  }
}