.u-section-1 .u-sheet-1 {
  min-height: 572px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  width: 533px;
  margin: 399px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 533px;
  margin: 21px auto 44px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 186px;
}

.u-section-2 .u-line-1 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  margin: 8px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  width: 410px;
  margin: 10px auto 37px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}