.u-section-1 .u-sheet-1 {
  min-height: 4216px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  width: 533px;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  width: 234px;
  height: 300px;
  margin: -6px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  font-weight: 700;
  width: 533px;
  margin: 31px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.75rem;
  width: 533px;
  margin: 13px auto 0;
}

.u-section-1 .u-text-4 {
  width: 533px;
  font-size: 1.875rem;
  margin: 8px auto 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-style: italic;
  width: 533px;
  margin: 9px auto 0;
}

.u-section-1 .u-list-1 {
  width: 533px;
  height: auto;
  margin: 16px auto 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 523px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 13px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 3px 67px 0 150px;
}

.u-section-1 .u-image-2 {
  width: 173px;
  height: 156px;
  margin: -1px auto 0 -12px;
}

.u-section-1 .u-text-7 {
  font-size: 0.75rem;
  margin: -145px 0 0 161px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-8 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 3px 67px 0 150px;
}

.u-section-1 .u-image-3 {
  width: 173px;
  height: 156px;
  margin: -1px auto 0 -12px;
}

.u-section-1 .u-text-9 {
  font-size: 0.75rem;
  margin: -145px 0 0 161px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-10 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 3px 67px 0 150px;
}

.u-section-1 .u-image-4 {
  width: 173px;
  height: 156px;
  margin: -1px auto 0 -12px;
}

.u-section-1 .u-text-11 {
  font-size: 0.75rem;
  margin: -145px 0 0 161px;
}

.u-section-1 .u-list-2 {
  width: 533px;
  margin: 17px auto 0;
}

.u-section-1 .u-repeater-2 {
  min-height: 1695px;
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  grid-gap: 13px;
}

.u-section-1 .u-container-layout-4 {
  padding: 16px 0;
}

.u-section-1 .u-text-12 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 3px 0 0;
}

.u-section-1 .u-image-5 {
  width: 173px;
  height: 156px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 0.75rem;
  margin: -164px 3px 0 164px;
}

.u-section-1 .u-container-layout-5 {
  padding: 16px 0;
}

.u-section-1 .u-text-14 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 3px 0 0;
}

.u-section-1 .u-image-6 {
  width: 173px;
  height: 156px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 0.75rem;
  margin: -164px 3px 0 164px;
}

.u-section-1 .u-container-layout-6 {
  padding: 16px 0;
}

.u-section-1 .u-text-16 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 3px 0 0;
}

.u-section-1 .u-image-7 {
  width: 173px;
  height: 156px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-17 {
  font-size: 0.75rem;
  margin: -164px 3px 0 164px;
}

.u-section-1 .u-container-layout-7 {
  padding: 16px 0;
}

.u-section-1 .u-text-18 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 3px 0 0;
}

.u-section-1 .u-image-8 {
  width: 173px;
  height: 156px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 0.75rem;
  margin: -164px 3px 0 164px;
}

.u-section-1 .u-container-layout-8 {
  padding: 16px 0;
}

.u-section-1 .u-text-20 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 3px 0 0;
}

.u-section-1 .u-image-9 {
  width: 173px;
  height: 156px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-21 {
  font-size: 0.75rem;
  margin: -164px 3px 0 164px;
}

.u-section-1 .u-container-layout-9 {
  padding: 16px 0;
}

.u-section-1 .u-text-22 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 3px 0 0;
}

.u-section-1 .u-image-10 {
  width: 173px;
  height: 156px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-23 {
  font-size: 0.75rem;
  margin: -164px 3px 0 164px;
}

.u-section-1 .u-container-layout-10 {
  padding: 16px 0;
}

.u-section-1 .u-text-24 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0 3px 0 0;
}

.u-section-1 .u-image-11 {
  width: 173px;
  height: 156px;
  margin: 11px auto 0 0;
}

.u-section-1 .u-text-25 {
  font-size: 0.75rem;
  margin: -164px 3px 0 164px;
}

.u-section-1 .u-text-26 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 13px 403px 0 204px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 531px;
  margin: 17px auto 12px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 414px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-image-12 {
  width: 193px;
  height: 294px;
  margin: -8px auto 0;
}

.u-section-1 .u-text-27 {
  font-size: 1rem;
  font-style: italic;
  margin: -35px 73px 0 1px;
}

.u-section-1 .u-text-28 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 10px 23px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 414px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-image-13 {
  width: 193px;
  height: 294px;
  margin: -20px auto 0 27px;
}

.u-section-1 .u-text-29 {
  font-size: 1rem;
  font-style: italic;
  margin: -23px 135px 0 0;
}

.u-section-1 .u-text-30 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 31px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-text-26 {
    margin-right: 293px;
    margin-left: 94px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3902px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 4002px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 203px;
    margin-left: 4px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 338px;
  }

  .u-section-1 .u-image-13 {
    margin-top: -11px;
    margin-left: auto;
  }

  .u-section-1 .u-text-29 {
    margin-top: -32px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 7px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 138px;
    height: 138px;
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -138px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 7px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 138px;
    height: 138px;
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: -138px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 7px;
    margin-right: 3px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 138px;
    height: 138px;
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -138px;
    margin-left: 138px;
  }

  .u-section-1 .u-list-2 {
    width: 340px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    width: 128px;
    height: 128px;
    margin-top: 41px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -167px;
    margin-right: 0;
    margin-left: 128px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    width: 128px;
    height: 128px;
    margin-top: 41px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: -167px;
    margin-right: 0;
    margin-left: 128px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
  }

  .u-section-1 .u-image-7 {
    width: 128px;
    height: 128px;
    margin-top: 41px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: -167px;
    margin-right: 0;
    margin-left: 128px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 0;
  }

  .u-section-1 .u-image-8 {
    width: 128px;
    height: 128px;
    margin-top: 41px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: -167px;
    margin-right: 0;
    margin-left: 128px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 0;
  }

  .u-section-1 .u-image-9 {
    width: 128px;
    height: 128px;
    margin-top: 41px;
  }

  .u-section-1 .u-text-21 {
    width: auto;
    margin-top: -167px;
    margin-right: 0;
    margin-left: 128px;
  }

  .u-section-1 .u-text-22 {
    margin-right: 0;
  }

  .u-section-1 .u-image-10 {
    width: 128px;
    height: 128px;
    margin-top: 41px;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: -167px;
    margin-right: 0;
    margin-left: 128px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    width: 128px;
    height: 128px;
    margin-top: 41px;
  }

  .u-section-1 .u-text-25 {
    width: auto;
    margin-top: -167px;
    margin-right: 0;
    margin-left: 128px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-27 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-28 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
  }

  .u-section-1 .u-text-30 {
    margin-right: 0;
    margin-left: 0;
  }
}