 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2878px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 400px 383px 0 348px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 5px 383px 0 348px;
}

.u-section-1 .u-line-1 {
  width: 533px;
  border-style: solid;
  transform-origin: left center;
  margin: 10px 321px 0 286px;
}

.u-section-1 .u-group-elements-1 {
  width: 533px;
  min-height: 30px;
  height: auto;
  margin: 10px auto 0 286px;
}

.u-section-1 .u-text-3 {
  margin: 0 0 0 441px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -29px 196px 0 223px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: -28px 338px 0 84px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: -28px 117px 0 367px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-7 {
  margin: -29px 477px 0 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-2 {
  width: 533px;
  border-style: solid;
  transform-origin: left center;
  margin: 8px 321px 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 400;
  margin: 12px 321px 0 287px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 195px;
  margin: 39px auto 0 403px;
}

.u-section-1 .u-text-9 {
  font-size: 0.75rem;
  width: 533px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-3 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  height: 3px;
  margin: 10px auto 0;
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 240px;
  margin: 26px auto 0 403px;
}

.u-section-1 .u-text-10 {
  font-size: 0.75rem;
  width: 533px;
  margin: 0 auto;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-4 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  margin: 26px auto 0 403px;
}

.u-section-1 .u-text-11 {
  font-size: 0.75rem;
  width: 533px;
  margin: 234px auto 0;
}

.u-section-1 .u-image-3 {
  width: 300px;
  height: 300px;
  margin: -378px auto 0 403px;
}

.u-section-1 .u-line-5 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  margin: 98px auto 0 403px;
}

.u-section-1 .u-line-6 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  margin: 79px auto 0 403px;
}

.u-section-1 .u-image-4 {
  width: 300px;
  height: 180px;
  margin: -76px auto 0 403px;
}

.u-section-1 .u-text-12 {
  font-size: 0.75rem;
  width: 533px;
  margin: 6px auto 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-7 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  height: 3px;
  margin: 21px auto 0 403px;
}

.u-section-1 .u-image-5 {
  width: 300px;
  height: 203px;
  margin: 13px auto 0 403px;
}

.u-section-1 .u-text-13 {
  font-size: 0.75rem;
  width: 533px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-8 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  margin: 29px auto 0 403px;
}

.u-section-1 .u-image-6 {
  width: 300px;
  height: 300px;
  margin: -14px auto 0 403px;
}

.u-section-1 .u-text-14 {
  font-size: 0.75rem;
  width: 533px;
  margin: -19px auto 60px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 290px;
    margin-right: 283px;
    margin-left: 248px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 282px;
    margin-left: 248px;
  }

  .u-section-1 .u-line-1 {
    height: 3px;
    margin-top: 23px;
    margin-right: 221px;
    margin-left: 186px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-line-2 {
    height: 3px;
    margin-top: 21px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 221px;
    margin-left: 187px;
  }

  .u-section-1 .u-line-5 {
    height: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2716px;
  }

  .u-section-1 .u-text-1 {
    width: 409px;
    margin-top: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 410px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-line-2 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 8px;
    margin-right: 111px;
    margin-left: 77px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    margin-top: 23px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-line-4 {
    margin-top: 23px;
    margin-left: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: 237px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -383px;
    margin-left: auto;
  }

  .u-section-1 .u-line-5 {
    margin-top: 100px;
    margin-left: auto;
  }

  .u-section-1 .u-line-6 {
    margin-top: -3px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: -3px;
    margin-left: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: 0;
  }

  .u-section-1 .u-line-7 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: -3px;
    margin-left: 193px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 0;
  }

  .u-section-1 .u-line-8 {
    margin-top: 23px;
    margin-left: 193px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -16px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-14 {
    margin-bottom: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2878px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 5866px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -120px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 140px;
  }

  .u-section-1 .u-line-2 {
    margin-top: 108px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -5589px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1338px;
    margin-left: 238px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -6px;
    margin-right: 5px;
    margin-left: 2px;
  }

  .u-section-1 .u-line-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 240px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 238px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 776px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 5px;
    margin-left: 2px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 2322px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -57px;
    margin-right: 5px;
    margin-left: 2px;
  }

  .u-section-1 .u-line-8 {
    margin-top: -2217px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 2224px;
    margin-left: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 6334px;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: -107px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 340px;
    margin-top: 141px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-top: -695px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -6055px;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1396px;
    margin-left: auto;
  }

  .u-section-1 .u-text-10 {
    width: 340px;
    margin-top: -64px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-4 {
    margin-top: -38px;
  }

  .u-section-1 .u-text-11 {
    width: 340px;
    margin-top: 298px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-top: 853px;
  }

  .u-section-1 .u-text-12 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 2456px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-13 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-8 {
    margin-top: -2409px;
    margin-left: 40px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 2416px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-14 {
    width: 340px;
    margin-bottom: -1415px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 186px;
}

.u-section-2 .u-line-1 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  height: 3px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  width: 410px;
  margin: 10px auto 37px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-2 .u-line-1 {
    margin-top: 2px;
  }

  .u-section-2 .u-text-1 {
    margin-bottom: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}