 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 2878px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 400px 383px 0 348px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 5px 383px 0 348px;
}

.u-section-1 .u-line-1 {
  width: 533px;
  border-style: solid;
  transform-origin: left center;
  margin: 10px 321px 0 286px;
}

.u-section-1 .u-list-1 {
  width: 530px;
  margin: 9px auto 0 288px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 4px));
  min-height: 33px;
  grid-auto-columns: calc(20% - 4px);
  grid-gap: 5px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 4px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  margin: 3px 23px 0 10px;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 4px;
}

.u-section-1 .u-btn-2 {
  font-size: 1rem;
  margin: 3px 23px 0 10px;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 4px;
}

.u-section-1 .u-btn-3 {
  font-size: 1rem;
  margin: 3px 23px 0 10px;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 4px;
}

.u-section-1 .u-btn-4 {
  font-size: 1rem;
  margin: 3px 23px 0 10px;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 4px;
}

.u-section-1 .u-btn-5 {
  font-size: 1rem;
  margin: 3px 23px 0 10px;
  padding: 0;
}

.u-section-1 .u-line-2 {
  width: 533px;
  border-style: solid;
  transform-origin: left center;
  margin: 6px 321px 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 12px 321px 0 287px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 195px;
  margin: 39px auto 0 403px;
}

.u-section-1 .u-text-4 {
  font-size: 0.75rem;
  width: 533px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-3 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  height: 3px;
  margin: 10px auto 0;
}

.u-section-1 .u-image-2 {
  width: 300px;
  height: 240px;
  margin: 26px auto 0 403px;
}

.u-section-1 .u-text-5 {
  font-size: 0.75rem;
  width: 533px;
  margin: 0 auto;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-4 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  margin: 26px auto 0 403px;
}

.u-section-1 .u-text-6 {
  font-size: 0.75rem;
  width: 533px;
  margin: 234px auto 0;
}

.u-section-1 .u-image-3 {
  width: 300px;
  height: 300px;
  margin: -378px auto 0 403px;
}

.u-section-1 .u-line-5 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  margin: 98px auto 0 403px;
}

.u-section-1 .u-line-6 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  margin: 79px auto 0 403px;
}

.u-section-1 .u-image-4 {
  width: 300px;
  height: 180px;
  margin: -76px auto 0 403px;
}

.u-section-1 .u-text-7 {
  font-size: 0.75rem;
  width: 533px;
  margin: 6px auto 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-7 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  height: 3px;
  margin: 21px auto 0 403px;
}

.u-section-1 .u-image-5 {
  width: 300px;
  height: 203px;
  margin: 13px auto 0 403px;
}

.u-section-1 .u-text-8 {
  font-size: 0.75rem;
  width: 533px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-line-8 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  margin: 29px auto 0 403px;
}

.u-section-1 .u-image-6 {
  width: 300px;
  height: 300px;
  margin: -14px auto 0 403px;
}

.u-section-1 .u-text-9 {
  font-size: 0.75rem;
  width: 533px;
  margin: -19px auto 60px;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-top: 290px;
    margin-right: 283px;
    margin-left: 248px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 282px;
    margin-left: 248px;
  }

  .u-section-1 .u-line-1 {
    height: 3px;
    margin-top: 23px;
    margin-right: 221px;
    margin-left: 186px;
  }

  .u-section-1 .u-list-1 {
    height: auto;
  }

  .u-section-1 .u-line-2 {
    height: 3px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 221px;
    margin-left: 187px;
  }

  .u-section-1 .u-line-5 {
    height: 3px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 5631px;
    margin-right: 173px;
    margin-left: 138px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 172px;
    margin-left: 138px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 20px;
    margin-right: 111px;
    margin-left: 76px;
  }

  .u-section-1 .u-list-1 {
    margin-left: 190px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 3.3333333333333335px));
    min-height: 117px;
    grid-auto-columns: calc(33.333333333333336% - 3.3333333333333335px);
  }

  .u-section-1 .u-line-2 {
    margin-right: 187px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -5487px;
    margin-right: 111px;
    margin-left: 77px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1332px;
    margin-left: 365px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 132px;
    margin-left: 55px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 365px;
  }

  .u-section-1 .u-line-6 {
    margin-top: 1145px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 770px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 132px;
    margin-left: 55px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 2290px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -57px;
    margin-right: 132px;
    margin-left: 55px;
  }

  .u-section-1 .u-line-8 {
    margin-top: -2179px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 2186px;
    margin-left: 172px;
  }

  .u-section-1 .u-text-9 {
    margin-bottom: -2271px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 5866px;
    margin-right: 83px;
    margin-left: 48px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 82px;
    margin-left: 48px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -120px;
    margin-right: 7px;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    margin-left: 10px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 2.5px));
    min-height: 264px;
    grid-auto-columns: calc(50% - 2.5px);
  }

  .u-section-1 .u-line-2 {
    margin-right: 7px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -5589px;
    margin-right: 8px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 240px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1338px;
    margin-left: 238px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -6px;
    margin-right: 5px;
    margin-left: 2px;
  }

  .u-section-1 .u-line-4 {
    margin-top: 20px;
    margin-left: 240px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 240px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 238px;
  }

  .u-section-1 .u-line-5 {
    margin-left: 240px;
  }

  .u-section-1 .u-line-6 {
    margin-left: 240px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 776px;
    margin-left: 240px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 5px;
    margin-left: 2px;
  }

  .u-section-1 .u-line-7 {
    margin-left: 240px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 2322px;
    margin-left: 240px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 5px;
    margin-left: 2px;
  }

  .u-section-1 .u-line-8 {
    margin-top: -2217px;
    margin-left: 240px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 2224px;
    margin-left: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 6334px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-top: -107px;
    margin-right: 0;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: -6055px;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-left: 40px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 1396px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-5 {
    width: 340px;
    margin-top: -64px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-line-4 {
    margin-top: -38px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-6 {
    width: 340px;
    margin-top: 298px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-3 {
    margin-left: 40px;
  }

  .u-section-1 .u-line-5 {
    margin-left: 40px;
  }

  .u-section-1 .u-line-6 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 853px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-7 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-7 {
    margin-left: 40px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 2456px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-8 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-8 {
    margin-top: -2409px;
    margin-left: 40px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 2416px;
    margin-left: 40px;
  }

  .u-section-1 .u-text-9 {
    width: 340px;
    margin-bottom: -2285px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 186px;
}

.u-section-2 .u-line-1 {
  width: 300px;
  border-style: solid;
  transform-origin: left center;
  height: 3px;
  margin: 8px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  width: 410px;
  margin: 10px auto 37px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    width: 340px;
  }
}